* {
    margin: none;
    padding: none;
}

body {
    text-decoration: none;
    display: grid;
}

.images {
    max-width: 100%;
    margin: none;
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-content: stretch;
}

.bcocktail {
    grid-column: 2;
    grid-row: 2;
}

.bface {
    grid-column: 4;
    grid-row: 2;
}

.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

.nav-bar li {
    padding: 20px;
    text-transform: uppercase;
    display: inline-block;
}
        
.nav-bar a {
    font-size: 1.5rem;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}